img{
    height: 250px;
    width: 70px;
   
}




.img-carrito{
    width: 200px;
    padding: 20px;

    
}

.parrafo{
    font-size: 25px;
    font-weight: 700;
}

.logo{
    height: 50px;
    width: 50px;
}

.card{
    padding: 20px;
    margin: 10px;
    

}

